*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

:root{
    --white: #f7f2f2;
    --black: #232323;
    --orange: #ed6821;
}

header{
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(19, 18, 18, 0.85), rgba(5, 5, 5, 0.5)), url(./image/back.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    height: 15%;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo{
    color: var(--orange);
    font-size: 2rem;
}

ul{
    display: flex;
    gap: 3rem;
    list-style-type: none;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
}

li a{
    text-decoration: none;
    color: var(--white);
}

li a:focus{
    color: var(--orange);
}

#inpDiv{
    position: relative;
}

#inpDiv button{
    position: absolute;
    right: -1px;
    border-radius: 0 4px 4px 0;
    padding-inline: 0.3rem;
    height: 100%;
    border: none;
    background-color: var(--orange);
    color: var(--white);
}

#inpDiv input{
    background-color: inherit;
    border: 1px solid var(--orange);
    border-radius: 3px;
    padding: 0.3rem;
}

#left{
    color: var(--white);
    width: 50%;
    margin-left: 70px;
    margin-top: 8rem;

}

#orange{
    color: var(--orange);
}

#left h1{
    width: 50%;
    font-size: 3rem;
}

#left p{
    line-height: 1.5rem;
}

#btn{
    background-color: var(--orange);
    border: none;
    border-radius: 7px;
    padding: 0.5rem 2rem;
    margin-top: 15px;
}

body{
    position: relative;
}

main{
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--black);
    width: 20%;
    height: 60%;
    border-radius: 7px;
    opacity: .9;
    margin-top: 15%;
    margin-right: 3.9rem;
}

form{
    color: var(--white);
    width: 100%;
    height: 100%;
    padding-inline: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form input{
    background-color: inherit;
    border: none;
    border-bottom: 1px solid var(--orange);
    color: var(--white);
}

#whitebtn{
    background-color: var(--white);
    color: var(--orange);
    padding: 0.6rem 2rem;
    border-radius: 10px;
    border: none;
    font-size: large;
    font-weight: bold;
}

#loginbtn{
    background-color: var(--orange);
    padding: 0.6rem 2rem;
    border-radius: 10px;
    border: none;
    font-size: large;
    font-weight: bold;
}

.orange{
    color: var(--orange);
    text-decoration: none;
}