@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image:  
    linear-gradient(  rgba(40, 60, 104, 0.733),  rgba(9, 60, 80, 0.534)),
    url(https://raw.githubusercontent.com/yusuftomilola/Sallah-Assignment-css/main/decibullz-banner.webp);
/*   height: 110vh; */
  background-repeat: no-repeat;
  background-size: cover;
  font-optical-sizing: auto;

  /* font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal; */
}
nav{
  background-color: white;
  height: 80px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-evenly;
}
.logo h1{
  font-size: 20px;
  font-weight: 600;
}

li {
  display: inline-block;
  margin: 20px;
}
li a{
  color: #000000;
  font-weight: 800;
  font-size: 14px;
}
.fa-solid{
  margin-left: 5px;
  font-size: 14px;
}
main{
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
  margin: 18% 2% 0%;
}
.fa-angle-left, .fa-angle-right{
  font-size: 24px;
}
.middle{
  color: white;
}
.middle p{
  font-size: 14px;
  text-align: center;
  font-weight: 800;
}
.middle h1{
  font-size: 50px;
  font-weight: 800;
}
.middle button{
  padding: 12px;
  background-color: white;
  width: 30%;
  border: none;
  margin: 1% 35%;
  /* position: relative;
  left: 35%; */
  font-size: 12px;
  font-weight: 900;
}
aside{
  max-width: 300px;
  background-color: white;
/*   position: relative;
  left: 67.8%;
  top: -15.5%; */
  margin: -3% 0% 1% 77.7%;
  overflow: hidden;
  z-index: 1;
}
aside img{
  width: 300px;
  height: 120px;
}
aside p{
  margin: 10px;
  font-size: 12px;
  font-weight: 500;
  color: gray;
  text-align: center;
}
aside label{
  font-size: 11px;
  font-weight: 600;
  margin: 15px;
  color: black;
}
aside input{
  width: 270px;
  margin-left: 15px;
  border: none;
  border: 1px solid rgb(180, 172, 172);
}
aside button{
  padding: 10px;
  background-color: rgb(51, 50, 50);
  color: white;
  border: none;
  margin: 5%;
  position: relative;
  left: 35%;
  font-size: 10px;
  font-weight: 900;
}
.cancel{
  border: 1px solid rgb(180, 172, 172);
  border-radius: 50%;
  /* padding: 5px; */
  width: 1.5%;
  background-color: white;
  position: absolute;
  z-index: 3;
  left: 98.3%;
  top: 110.5%;
}