html{
    scroll-behavior: smooth; 
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    --grey:rgb(39, 40, 48);
    --white:#fff;
    --pure: #78c0ff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: #ccc;
}


.container{
    /* background-color: #ccc; */
    /* max-width: 1200px; */
    margin: 0 auto;
}
nav{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--grey);
    /* opacity: 0.6; */
    padding: 30px;
    width: 100%;
    height: 10%;
    /* position: fixed;
    top: 0; */
    z-index: 1;
}


ul{
    /* width: 100px; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

ul li{
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: var(--white);
    padding: 8px;
    font-size: 20px;
}

ul li a:hover{
    background-color: var(--white);
    color: black;
    border-radius: 10px;
    padding: 6px;
    border: 2px dotted black;
}


header{
    background-image: url(image/head.png);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
}

/* header h1{
    color: var(--pure);
    text-align: center;
    padding: 130px;
    font-size: 300%;
    border: 1px solid var(--pure);
} */

section{
    height: 200vh;
}

#about{
    width: 100%;
}
.about{
    background-color: var(--grey);
    color: var(--white);
    /* background-image: url(image/bio.png); */
    width: 100%;
    /* height: 100vh; */
    padding: 10px;
    text-align: center;
    font-size: 15px;
    position: sticky;
    top: 0;
}

.bio{
    background-color: var(--white);
    width: 100%;
    height: 200vh;
    padding: 15px;
}

.bio p{
    margin: 10px;
    font-size: 40px;
}

.biography{
    clear: both;
    margin: 10px;
    margin-top: 20px;
    border-left: 3px solid var(--pure);
    padding: 5px;
    text-align: justify;
}

.leftimg{
    float: left;
    border-radius: 10px;
    /* margin: 10px */
}

.skills{
    background-color: var(--grey);
    color: var(--white);
    /* background-image: url(image/bio.png); */
    width: 100%;
    /* height: 100vh; */
    padding: 10px;
    text-align: center;
    font-size: 15px;
    position: sticky;
    top: 0;
}

.skiller{
    background-color: var(--white);
    width: 100%;
    height: 100vh;
    padding: 15px;
}

.top, .bottom{
    margin: 20px;
}

.left{
    float: left;
    margin: 10px;
    border-radius: 10px;
}

.right{
    float: right;
    margin: 10px;
    border-radius: 10px;
}

.skiller p{
    margin: 10px;
}
.cert{
    background-color: var(--grey);
    color: var(--white);
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    position: sticky;
    top: 0;
}

.contact{
    background-color: var(--grey);
    color: var(--white);
    /* height: 100vh; */
    padding: 10px;
    text-align: center;
    font-size: 15px;
    position: sticky;
    top: 0;

}

.footer{
    background-color: black;
    height: 100vh;
}



@media screen and (max-width:750px) {
    ul{
        display: flex;
        gap: 0;

    }

    ul li a{
        font-size: 15px;
    }

    .ahide a{
        display: none;
    }
    

    /* .ahide i{
    color: var(--white);
    font-size: 17px;
    margin: 10px;

    } */
    
    .logo{
        /* margin: 0 auto; */
        display: none;
    }
    .icons{
        display: none;
    }

    .leftimg{
        width: 100%;
        height: 300px;
    }

    .bio p{
        font-size: 25px;
    }

    /* .hamburger i{
        display: none;
        font-size: 35px;
        color: var(--pure); */
    }

    section{
        height: 150vh;
    }

   
    
